.container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    
    
    width: auto;
}

.shootings {
   height: auto;
    width: auto;
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 20px;
    transition: transform .2s;

}

.container:hover > .shootings:not(:hover) {
    filter: blur(5px);
}


.shootings:hover {
    transform: scale(1.1);
}
